@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&family=Roboto+Mono:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    box-sizing: border-box;
}

body {
    background-color: #D6D6DA;
}

.container {
    color: white;
}

.container div {
    padding: 10px;
    color: white;
}

.header {
    height: 100px;
    margin: 10px;
    background-color: #2D2C43;
    display: grid;
    grid-template-columns: 5fr 1fr;
    justify-content: space-between;
    align-items: center; 
    font-size: 24px;
    border-radius: 10px;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
}


.formBar {
    background-color: #40355A;
    border-radius: 10px;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
    margin:10px;
}

form {
    display: flex;
    gap:5px;
    justify-content: space-evenly;
}


.menu {
    display: flex;
    align-items: center;
    justify-self: end;
    gap:20px;
}


a:link, a:visited, a:active {
    color:white;
    text-decoration: none;
    transition: all 0.4s;
}

a:hover {
    color: #f0b939;
    text-decoration: none;
}


#divider {
    width:1px;
    padding: 0px;
    height:50px;
    background-color: rgb(219, 221, 231);
}

.content {
    display: grid;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card {
    overflow-x: auto;
    background-color: #656F8F;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
    border: 2px solid transparent; 
    width: 300px;
    height:200px;
    display: grid;
    gap:5px;
}

.menu ul {
    display: grid;
    list-style-type: none;
    font-size: 16px;
    gap:10px;
    grid-template-columns: 1fr 2fr 2fr;
}

.card:hover {
    border-color: #f0b939;
    border-style: solid;
}

#h-divider {
    background-color: rgb(219, 221, 231);
    height: 1px; 
    padding: 0px;
    margin: 10px 0;
    border:none;
}
.content-header {
    color: #684948;
    padding: 12px;
}

input {
    border-radius: 10px;
    border: none;
}

input[type="submit"], select {
    border: none; 
    cursor: pointer;
}

.submitInput > input {
    padding: 5px;
    border-radius: 10px;
}

button {
    padding:10px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    width:200px;
    justify-self: center;
}

button:hover {opacity: 0.6}

.delete-button {
    background-color: indianred;
}

.read-button {
    background-color: mediumseagreen;

}

.status-message {
    transition: 0.3s;
}




